/* Global Styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
}

h1,
h2,
h3 {
  color: #333;
  text-align: center;
}

button {
  font-family: inherit;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */
.title {
  font-size: 3rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cardStyling {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardStyling h4 {
  margin-bottom: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.participants-list {
  list-style-type: none;
  padding: 0;
}

.participants-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.participants-list li:last-child {
  border-bottom: none;
}

.selected-person {
  font-size: 1.5rem;
  text-align: center;
  color: #ff4081;
}

.error-message {
  color: red;
  text-align: center;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .participants-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}
